{
  "extends": ["react-app", "prettier", "plugin:jsx-a11y/recommended"],
  "plugins": ["react", "prettier", "import", "jsx-a11y"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": true,
        "trailingComma": "none",
        "endOfLine": "auto",
        "tabWidth": 2,
        "printWidth": 80,
        "useTabs": false
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ],
    "no-console": "warn"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "react/prop-types": 0,
  "react/react-in-jsx-scope": 0,
  "import/no-unresolved": 0,
  "no-unused-vars": 0
}
