.App-logo-header {
  height: 7vmin;
  pointer-events: stroke;
}

@media screen and (max-width: 768px) {
  .App-logo-header {
    height: 8vmin;
    pointer-events: stroke;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-header {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
